# 중복되는 파일 최대한 없도록 정리해줘!
**/model.py
**/loss.py
**/east_dataset.py
**/detect.py
**/__pycache__/
**/font
synth_data/
no/
pths/
img/
box_image/
bbox_image/
result
sample_submission.csv
trained_models
predictions
__pycache__
._.DS_Store
data.py
data_analysis.py
EDA.ipynb
maina.ipynb
data_
code_